.services {
    display: flex;
    flex-direction: column;
    background-color: #1c1d1d;
    padding: 1rem 0;
}

.services p {
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #fffdfd;
}

.services-container {
    margin: 0 auto;
}

.service-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}