.icons {
	display: flex;
}

.icon {
	cursor: pointer;
	height: 2.25rem;
	width: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0.05rem;
	margin: 0.5rem 0 0.5rem 0.5rem;
	border: solid black 1px;
}

.icon img {
	height: 1.7rem;
	width: 1.7rem;
}