.testimonial {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hiddenImageHolder {
	height: 4rem;
	position: relative;
	display: flex;
	justify-content: center;
}

.testimonialImageHolder {
	border-radius: 50%;
	border: 1px solid white;
	background-color: white;
	padding: 0.3rem;
	position: absolute;
	bottom: -45px;
	display: flex;
	align-items: center;
	height: 6rem;
	width: 6rem;
}

.testimonialImageHolder img {
	height: 6rem;
    width: 6rem;
}

.testimonialBody {
	border-radius: 4px;
	background-color: white;
	padding: 2rem 0 0 0;
	margin: 0.5rem;
	min-height: 21rem;
	display: flex;
	flex-direction: column;
}

.testimonialTextContainer {
	display: flex;
	flex: 1;
}

.testimonyQuote {
	display: flex;
	align-items: flex-start;
}

.testimonyQuoteDiv {
	padding-left: 2.4rem;
	height: 3rem;
	width: 3rem;
}

.testimonyQuoteDiv img {height: 100%;
	width: 100%;
}

.testimonialText {
	display: flex;
	padding: 1rem 1.5rem 1rem 1rem;
	text-align: justify;
	align-items: center;
}

.testimonyName p {
	margin: 0;
	font-size: 0.9rem;
	padding: 0 0 0.5rem 1rem;
}

.testimonyStatus p {
	margin: 0;
	font-size: 0.8rem;
	padding: 0 0 1rem 1rem;
}